{% extends "base.html" %}

{% block title %}{{ T.about_title }}{% endblock %}

{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">{{ T.about_title }}</h1>
            <p class="lead fw-normal text-white-50 mb-0">{{ T.about_sub }}</p>
        </div>
    </div>
</header>
<br><br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 col-md-10">
            {% if lang == 'en' %}
            <div dir="ltr" style="text-align: left;">
                <p style="line-height: 1.8; font-size: 1.1rem;">
                    Welcome to our online store! This is where we have carefully curated the best products for you with love and precision. Our team, with years of experience in sourcing and selling quality products, is committed to providing you with the best service.
                </p>
                <p style="line-height: 1.8; font-size: 1.1rem;">
                    In this online store, we have prepared a wide range of diverse products for you, including electronics, accessories, and more. All products are carefully selected to guarantee the highest level of quality.
                </p>
                <p style="line-height: 1.8; font-size: 1.1rem;">
                    Our goal in creating this store is to simplify the shopping process for you and provide a pleasant online shopping experience. We are committed to the principles of honesty, quality, and customer satisfaction, and we strive to make you one of our loyal and satisfied customers.
                </p>
                <p style="line-height: 1.8; font-size: 1.1rem;">
                    If you are looking for products that offer both quality and affordable prices, you have come to the right place. We are proud to have earned the trust of many customers, and we hope you will join our big family too.
                </p>
                <p style="line-height: 1.8; font-size: 1.1rem;">
                    Shop with confidence and enjoy a different and delightful experience!
                </p>
            </div>
            {% else %}
            <div dir="rtl" style="text-align: right;">
                <p style="text-align: justify; line-height: 1.8; font-size: 1.1rem;">
                    به فروشگاه آنلاین ما خوش آمدید! اینجا جایی است که با عشق و دقت، بهترین محصولات را برای شما فراهم کرده‌ایم. تیم ما با تجربه‌ای چندین ساله در زمینه تامین و فروش محصولات با کیفیت، متعهد است بهترین خدمات را به شما ارائه دهد.
                </p>
                <p style="text-align: justify; line-height: 1.8; font-size: 1.1rem;">
                    در این فروشگاه آنلاین، مجموعه‌ای گسترده از محصولات متنوع برای شما آماده کرده‌ایم که شامل لوازم الکترونیکی، اکسسوری و موارد دیگر می‌شود. تمامی محصولات با دقت انتخاب شده‌اند تا بالاترین سطح کیفیت را تضمین کنیم.
                </p>
                <p style="text-align: justify; line-height: 1.8; font-size: 1.1rem;">
                    هدف ما از ایجاد این فروشگاه، ساده‌سازی فرآیند خرید برای شما و فراهم کردن تجربه‌ای دلپذیر از خرید آنلاین است. ما به اصول صداقت، کیفیت و رضایت مشتری پایبندیم و تلاش می‌کنیم با ارائه خدماتی بی‌نظیر، شما را از مشتریان دائمی و رضایتمند خود کنیم.
                </p>
                <p style="text-align: justify; line-height: 1.8; font-size: 1.1rem;">
                    اگر به دنبال خرید محصولاتی هستید که علاوه بر کیفیت، قیمت مناسبی نیز داشته باشند، جای درستی را انتخاب کرده‌اید. ما مفتخریم که توانسته‌ایم اعتماد بسیاری از مشتریان را جلب کنیم و امیدواریم شما نیز به جمع خانواده بزرگ ما بپیوندید.
                </p>
                <p style="text-align: justify; line-height: 1.8; font-size: 1.1rem;">
                    با اطمینان از ما خرید کنید و از تجربه‌ای متفاوت و دلچسب لذت ببرید!
                </p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<br><br>
{% endblock %}
