{% extends "base.html" %}

{% block content %}

 <!-- Header-->
 <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">درباره ما</h1>
            <p class="lead fw-normal text-white-50 mb-0">داستان مارا بشنوید!</p>
        </div>
    </div>
</header>
<br><br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 col-md-10">
            <p style="text-align: justify; line-height: 1.8; font-size: 1.1rem;">
                به فروشگاه آنلاین ما خوش آمدید! اینجا جایی است که با عشق و دقت، بهترین محصولات را برای شما فراهم کرده‌ایم. تیم ما با تجربه‌ای چندین ساله در زمینه تامین و فروش محصولات با کیفیت، متعهد است بهترین خدمات را به شما ارائه دهد.
            </p>
            <p style="text-align: justify; line-height: 1.8; font-size: 1.1rem;">
                در این فروشگاه آنلاین، مجموعه‌ای گسترده از محصولات متنوع برای شما آماده کرده‌ایم که شامل [دسته‌بندی محصولات، مانند: پوشاک، لوازم خانگی، لوازم الکترونیکی، محصولات زیبایی و بهداشتی، و ...] می‌شود. تمامی محصولات با دقت انتخاب شده‌اند تا بالاترین سطح کیفیت را تضمین کنیم.
            </p>
            <p style="text-align: justify; line-height: 1.8; font-size: 1.1rem;">
                هدف ما از ایجاد این فروشگاه، ساده‌سازی فرآیند خرید برای شما و فراهم کردن تجربه‌ای دلپذیر از خرید آنلاین است. ما به اصول صداقت، کیفیت و رضایت مشتری پایبندیم و تلاش می‌کنیم با ارائه خدماتی بی‌نظیر، شما را از مشتریان دائمی و رضایتمند خود کنیم.
            </p>
            <p style="text-align: justify; line-height: 1.8; font-size: 1.1rem;">
                اگر به دنبال خرید محصولاتی هستید که علاوه بر کیفیت، قیمت مناسبی نیز داشته باشند، جای درستی را انتخاب کرده‌اید. ما مفتخریم که توانسته‌ایم اعتماد بسیاری از مشتریان را جلب کنیم و امیدواریم شما نیز به جمع خانواده بزرگ ما بپیوندید.
            </p>
            <p style="text-align: justify; line-height: 1.8; font-size: 1.1rem;">
                با اطمینان از ما خرید کنید و از تجربه‌ای متفاوت و دلچسب لذت ببرید!
            </p>
        </div>
    </div>
</div>
<br><br>
{% endblock %}