{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">{% if lang == 'en' %}Category: {{ category }}{% else %}در دسته {{ category }}{% endif %}</h1>
            <p class="lead fw-normal text-white-50 mb-0">{% if lang == 'en' %}Browse all products{% else %}اینجا همه چی حراجه!{% endif %}</p>
        </div>
    </div>
</header>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for item in products %}
                <div class="col mb-5">
                    <div class="card h-100">
                        {% if item.is_sale %}
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">{{ T.special_sale }}</div>
                        {% endif %}
                        <img class="card-img-top" src="{{ item.picture.url }}" alt="{{ item.name }}" />
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">{{ item.name }}</h5>
                                <span class="text-muted small">{{ item.category }}</span>
                                <div class="star-container justify-content-center small text-warning mb-2">
                                    {% for _ in "12345" %}{% if forloop.counter <= item.star %}<i class="bi bi-star-fill"></i>{% else %}<i class="bi bi-star"></i>{% endif %}{% endfor %}
                                </div>
                                {% if item.is_sale and item.sale_price > 0 %}
                                    <strike class="text-muted">{{ item.price|intcomma }} {{ T.toman }}</strike><br>
                                    <span class="fw-bold text-danger">{{ item.sale_price|intcomma }} {{ T.toman }}</span>
                                {% else %}
                                    <span class="fw-bold">{{ item.price|intcomma }} {{ T.toman }}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="{% url 'product' item.id %}">{{ T.view }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
